<ion-app>
 <ion-menu side="start" menuId="menu1">
 <ion-header>
 <ion-toolbar color="primary">
 <ion-title>
 Mi App
 </ion-title>
 </ion-toolbar>
 </ion-header>
 <ion-content>
 <ion-list>
 <ion-menu-toggle>

 <ion-item routerLink="/restaurantes/tabs/descubrir">
 <ion-icon name="search" slot="start"></ion-icon>
 <ion-label>Descubrir</ion-label>
 </ion-item>

 <ion-item routerLink="/restaurantes/tabs/ofertas">
 <ion-icon name="ticket-outline" slot="start"></ion-icon>
 <ion-label>Ofertas</ion-label>
 </ion-item>

 <ion-item routerLink="/reservaciones">
 <ion-icon name="calendar-outline" slot="start"></ion-icon>
 <ion-label>Reservaciones</ion-label>
 </ion-item>

 <ion-item (click)= "onLogout()">
 <ion-icon name="exit-outline" slot="start"></ion-icon>
 <ion-label>Salir</ion-label>
 </ion-item>

 </ion-menu-toggle>
 </ion-list>
 </ion-content>
 </ion-menu>
 <ion-router-outlet main></ion-router-outlet>
</ion-app>
